<!-- About section-->
<main id="about">
	<div class="container">
		<h1>About</h1>
	
		<p>
			2nd Hand is a responsive web-based solution for second hand goods shopping. It has been realised by two students of the Free University of Bolzano, Giulio Roman and Aurelia Pagano, as final project of the Advanced Internet Technologies course.
		</p>
		<p>
			The application has been written in PHP, HTML 5, CSS using modern frameworks as AngularJS and Bootstrap.

		</p>
		<p>
			It is possible to view offered products, add them to the cart and place an order.
		</p>
		
	</div>
</main>