<!doctype html>
<html ng-app="eshop">
	<head>
		<meta charset="utf-8">
		<title>Hello World!</title>
		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" href="img/2ndhand-bg-32.png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
		<style type="text/css">

			body {
				font-family: 'Maven Pro', sans-serif;
				color:#4b622b;
				min-width: 280px;
			}

			.link {
				cursor: pointer;
			}

			.main-header {
				position:fixed;
				z-index: 99;
				width: 100%;
				padding-top:0.8em;
			}

			.custom_button{

				background: rgba(133,175,75,1);
				border-color: white;

			}

			.main-header, .main-footer {
				color:white;
				font-size:1.5em;
				background: rgba(133,175,75,1);
			}

			.main-header a, .main-footer a {
				color:white;
				text-decoration: none;
			}

			.logo {
				position: absolute;
			}

			.logo img {
				width:64px;
				height:64px;
			}

			.u-bg-white {
				background:white;
			}

			.u-margin-top {
				margin-top:1em;
			}

			.navbar-toggle .icon-bar {
				display: block;
				width: 28px;
				height: 3px;
				background-color: white;
				border-radius: 1px;
				margin: 0 auto;
			}

			.nav > li > a:focus, .nav > li > a:hover, .social:hover  {
				background:transparent;
				color:#4b622b;
			}

			#myNavbar {
				-webkit-box-shadow:none;
				box-shadow: none;
			}

			.navbar-nav {
				margin-right:0;
			}

			.social-container {
				padding-top:2.5em;
			}

			.social {
				margin:1rem;
				font-size:2.5em;
			}

			.product {
				padding:1em;
			}

			.product-preview {
				width:100%;
				height:100%;
				max-width: 100%;
			}

			.product-image {
				max-width: 100%;
			}

			.item-amount-control {
				float: right;
				max-width: 100px;
			}

			div.stretchy-wrapper {
		    	padding-bottom: 56.25%;
		    	position:relative;
		    	top:6.5em;
			}

			div.stretchy-wrapper > div {
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
			}

			.hero {
				background-image: url('img/hero2.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
			}

			main {
				position:relative;
				top:6.5em;
				padding-bottom:3em;
				padding-top:1em;
			}

			footer.main-footer {
				position:relative;
				top:91px;
			}

			.map-container {
				padding: 3em 1em;
			}

			#map {
				width: 100%;
				height:300px;
				max-width:100%;
			}

			.product img {
			    -webkit-transition: all .3s ease; /* Safari and Chrome */
			  	-moz-transition: all .3s ease; /* Firefox */
			  	-o-transition: all .3s ease; /* IE 9 */
			  	-ms-transition: all .3s ease; /* Opera */
			  	transition: all .3s ease;
				-webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
				-moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
				filter: brightness(1.10) grayscale(100%); 

			}

			.product img:hover {
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
			    -moz-transform:scale(1.10); /* Firefox */
			    -ms-transform:scale(1.10); /* IE 9 */
			    -o-transform:translatZ(0) scale(1.10); /* Opera */
			    transform:translatZ(0) scale(1.10);
				-webkit-filter: brightness(1.10) grayscale(0%) contrast(90%);
				-moz-filter: brightness(1.10) grayscale(0%) contrast(90%);
				filter: brightness(1.10) grayscale(0%); 
			}

			.animate-show-hide.ng-hide {
				opacity:0;
			}

			.animate-show-hide.ng-hide-add,
			.animate-show-hide.ng-hide-remove {
				transition: all linear 0.5s;
			}
		</style>
	</head>


	<body ng-controller="secondhand">


		<!-- Main navigation -->
		<header class="main-header">
			<nav class="navbar container">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar u-bg-white"></span>
			        <span class="icon-bar u-bg-white"></span>
			        <span class="icon-bar u-bg-white"></span>                        
			      </button>
			      <a ng-click="showSubpage('hero')" class="logo link">
					<img src="img/2ndhand-64.png">
					<span class="hidden-xs"> 2<sup>nd</sup> hand</span>
			      </a>
			    </div>
			    <div class="collapse navbar-collapse text-right" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a ng-click="showSubpage('showcase')" class="link">Shop <span class="glyphicon glyphicon-home"></span></a></li>
			        <li><a ng-click="showSubpage('cart')" class="link">Cart <span class="fa fa-shopping-bag"></span></a></li>
			        <li><a ng-click="showSubpage('about')" class="link"></span>About <span class="glyphicon glyphicon-info-sign"></a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</header>


		<!-- Hero banner -->
		<div class="stretchy-wrapper" ng-show="showHero" class="animate-show-hide">
			<div class="hero"></div>
		</div>


		<!-- Showcase -->
		<main id="main-home" ng-show="showShowcase" class="animate-show-hide">
			<div class="container">
				<div class="showcase row">
					<section ng-repeat="product in products" class="product col col-xs-6 col-sm-4 col-md-3 col-lg-2">
						<a ng-click="showSubpage('details', product)" class="link">
							<img class="product-preview" ng-src="{{product.Image}}">
						</a>
					</section>
				</div>
			</div>
		</main>


		<!-- Product details-->
		<main id="main-details" ng-show="showDetails" class="animate-show-hide">
			<div class="container">
				<div class="row">			 
					<div class="col-xs-12">
						<h1>{{currentItem.Name}}</h1>
					</div>
				</div>
				<div class="row">			 
					<div class="col-md-6">
						<img class="product-image" ng-src="{{currentItem.Image}}" />
    				</div>
                    <div class="col-md-6">
						<p>{{currentItem.Description}}</p>	 

						<p>Price: {{currentItem.Price}} &euro; </p>
						<p>In Stock: {{currentItem.Quantity}} </p>   
						<button ng-click="addToCart(currentItem)" class="btn btn-default btn-primary custom_button">Add to cart</button>
					</div>
                </div>
			</div>
		</main>


		<!-- Cart section-->
		<main id="cart" ng-show="showCart" class="animate-show-hide">
			<div class="container">
				<h1>Shopping Cart</h1>

				<!-- Empty cart -->
				<div ng-show="!cart.length" class="alert alert-info">
					<i class="glyphicon glyphicon-info-sign"></i>
					Your cart is empty
				</div>

				<!-- Not-empty cart -->
				<ul class="list-group">

					<li ng-repeat="cartItem in cart" class="list-group-item">
						<a href="#" onclick="toggleCartItemDetails(this.parentNode)">
							<i class="glyphicon glyphicon-menu-down"></i>
							<strong>{{cartItem.item.Name}}</strong>
						</a>
						<span class="badge">{{cartItem.amount}}</span>

						<div class="cart-item-details hidden row">
							<div class="col-xs-6">
								<img ng-src="{{cartItem.item.Image}}" class="product-image">
							</div>
							<div class="col-xs-6">
								<div class="row">
									<div class="col-xs-12 text-right">
										amount<br>
										<input type="number" class="form-control item-amount-control" min="0" max="10" value="{{cartItem.amount}}">
									</div>
									<div class="col-xs-12 text-right">
										<br>
										subtotal<br>
										<strong>{{cartItem.amount * cartItem.item.Price}} &euro;</strong>
									</div>
								</div>
							</div>
						</div>
					</li>




				</ul>
				<button ng-click="gotoCheckout()" class="btn btn-default btn-primary custom_button">Checkout</button>
				<button ng-click="emptyCart()" class="btn btn-default btn-danger">Empty Cart</button>
			</div>
		</main>


		<!-- Checkout section-->
		<main id="checkout" ng-show="showCheckout" class="animate-show-hide">

			<div class="container">
			 <h2>Shipping information</h2>
			  <form>
			    <div class="form-group col col-md-6">
			      	<label for="name">Name:</label>
			      	<input type="text" class="form-control" id="name" required>
			    </div>

			    <div class="form-group col col-md-6">
			      	<label for="surname">Surname:</label>
			      	<input type="text" class="form-control" id="surname" required>
			    </div>

			    <div class="form-group col col-md-6">
			      	<label for="tel">Address:</label>
					<input type="text" class="form-control" id="address" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="tel">City:</label>
					<input type="text" class="form-control" id="city" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="tel">State:</label>
					<input type="text" class="form-control" id="state" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="tel">Zip/ Postal Code:</label>
					<input type="number" class="form-control" id="zip" max="5" required>				    
				</div>

			    <div class="form-group col col-md-6">
			      	<label for="tel">Telephone:</label>
					<input type="number" class="form-control" id="phone" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="e-mail">E-mail:</label>
					<input type="email" class="form-control" id="e-mail" required>				    
				</div>


 				<h2>Payment information</h2>
 				

				<div class="form-group col col-md-6">
			      	<label for="cctype">Credit card type:</label>
					 <select required id="creditcardType" name="CreditCardType" class="form-control">
                                        <option value="5">Visa</option>
                                        <option value="6">MasterCard</option>
                                        <option value="7">American Express</option>
                                        <option value="8">Discover</option>
                     </select>

				</div>

				<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			      	<label for="ccnumbr">Credit card number:</label>
					<input type="number" class="form-control" id="ccnumbr" required>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			      	<label for="ccnumbr">CVV:</label>
					<input type="text" class="form-control" id="ccnumbr">
				</div>
				</div>

				<div class="form-group">
				<div class="col-md-12">
					<label for="exp_date">Expiration date</label>
				</div>
			      	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			      
                                    <select required class="form-control" name="">
                                        <option value="">Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                </select>
                                </div>  
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <select required class="form-control" name="">
                                        <option value="">Year</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                </select>
                                </div>		   	    
                                
					</div>
				
				  <button type="submit" class="btn btn-default btn-primary custom_button">Submit</button>

  			</form>
				
			</div>
		</main>


		<!-- About section-->
		<main id="about" ng-show="showAbout" class="animate-show-hide">

			<div class="container">
				<h2>About</h2>
				<p>
					Lorem ipsum dolor sit amet, et eos tempor fastidii. Nam duis omnes gubergren an, mediocrem interesset pri ad? No ius veritus repudiare hendrerit! Qui iriure admodum at, eos ea tantas eirmod impedit? Natum malis in pri, nec eu modus vivendum dissentiunt.
				</p>
				<p>
					Graeci constituam mea cu, sed ad dicat platonem praesent, eu ludus eirmod delicata quo. Nam et animal vidisse delectus, sea at rebum noster. No vocent interpretaris sea, cu pri sint ipsum reformidans, sea facete blandit disputando eu. Atqui aeque mel ne. Duo nusquam lucilius consectetuer eu, sit ea ludus aperiri. Vitae pertinax ut vis!
				</p>
				<p>
					Id vix magna quando, at vel doctus ornatus, pri eu purto summo nominavi. Utroque postulant qui id, ei sed vide quas magna. Velit nobis instructior vim et, te vix congue graeci consulatu, inani quaestio constituam ad quo. Eum et omnis delicata accommodare, in has veniam saperet blandit. Sapientem constituam his id?
				</p>
				<p>
					Est expetenda honestatis inciderint cu, no eum porro aliquid. Vix graeco alterum tractatos ei, eam ad tation praesent. Ferri audire fuisset cum ex, cu essent ponderum inciderint vis? Cum clita moderatius at, cu mei inani ocurreret appellantur! Nec suas volumus id. Munere convenire eos ea, cibo omittam tincidunt nec eu.
				</p>
				<p>
					Ea vel fabulas efficiendi interpretaris. Pro ea viderer appareat, ocurreret dignissim persecuti an mei. Eruditi tacimates deterruisset te usu, quis placerat deseruisse eum eu, an tantas reprimique efficiantur vim. Principes eloquentiam per ne, id case fabellas vituperata vix!
				</p>
				<p>
					Ex amet munere mea, ne sea erant senserit suavitate? Ut ius rebum impetus, eos cu dicunt constituto! Nec ludus ullamcorper ei, quis placerat perfecto eu quo? Ne nec solet commodo, natum argumentum nam ad.
				</p>
				<p>
					Vim eros simul quaeque ea, novum officiis signiferumque vel cu. Sea ad alia lorem propriae, atomorum mediocritatem eu pri. Choro laoreet vel an, pro lorem noster petentium at! Sed et wisi possim percipitur?
				</p>
				<p>
					Ius ei causae expetendis. Habemus praesent usu at, duo et facilisis democritum? Ex quo natum inani iriure, ex mea vidit lobortis forensibus. Duo oblique mediocritatem ut, brute oratio periculis nec ne? No nullam dictas quodsi mei, erant repudiandae et eum.
				</p>
				<p>
					Quo ad scaevola vivendum, dico nullam mel ad. Sit periculis consulatu an, dolore quodsi bonorum ex sed! Placerat definitionem mea id! Possim expetenda qui ex!
				</p>
				<p>
					Ex nobis laudem pro, ad populo doming qui. No sit amet aeterno tractatos, ad agam saepe ubique eum. Lobortis consequuntur his ea. Indoctum laboramus ex cum! No nobis interpretaris sit? Adolescens voluptaria cu est.
				</p>
			</div>
		</main>


		<!-- Footer -->
		<footer class="main-footer">
			<div class="text-center social-container">
				<a href="#"><span class="social fa fa-facebook-official"></span></a>
				<a href="#"><span class="social fa fa-twitter-square"></span></a>
				<a href="#"><span class="social fa fa-linkedin-square"></span></a>
				<br class="visible-xs">
				<a href="#"><span class="social fa fa-pinterest-square"></span></a>
				<a href="#"><span class="social fa fa-telegram"></span></a>
				<a href="#"><span class="social fa fa-youtube-square"></span></a>
			</div>

			<div class="container map-container">
				<div class="row">
					<div class="col col-sm-6">
						<div id="map"></div>
					</div>
					<div class="col col-sm-6">
						<address>
							<strong>2<sup>nd</sup> hand</strong><br>
							Free University of Bozen - Bolzano<br>
							piazza Università 1,<br>
							Bolzano 39100<br>
							Italy<br>
						</address>
					</div>
				</div>
			</div>

			<div class="text-center u-margin-top">
				<small>&copy; 2<sup>nd</sup> hand 2017</small>
			</div>
		</footer>


		<!-- Angular App -->
		<script>
			var app = angular.module('eshop', ['ngAnimate']);
			app.controller('secondhand', function($scope, $http) {

				// show/hide page sections as default starting point
				$scope.showHero = true;
				$scope.showShowcase = false;
				$scope.showCart = false;
				$scope.showCheckout = false;
				$scope.showDetails = false;
				$scope.showAbout = false;

				// get list of products
				$http.get('/api/products')
					.then(function(res){
						$scope.products = res.data;                
				});
				
				// define product details current item
				$scope.currentItem = null;

				// define cart
				$scope.cart = [];

				// add an item to the cart
				$scope.addToCart = function(item) {
					//TODO
					$scope.cart.push({"amount":1, "item": item});
				}

				// checkout
				$scope.gotoCheckout = function(item) {
					$scope.showSubpage('checkout');
				}

				// add an item to the cart
				$scope.emptyCart = function(item) {
					$scope.cart = [];
				}

				// show/hide page sections based on user actions
				$scope.showSubpage = function(pageName, parameter=null) {
					$(".navbar-collapse").collapse('hide');
					switch(pageName) {
						case "showHero":
							$scope.showShowcase = false;
							$scope.showCart = false;
							$scope.showCheckout = false;
							$scope.showDetails = false;
							$scope.showAbout = false;
							$scope.showHero = true;
							break;
							
						case "showcase":
							$scope.showHero = false;
							$scope.showCart = false;
							$scope.showCheckout = false;
							$scope.showDetails = false;
							$scope.showAbout = false;
							$scope.showShowcase = true;
							break;
							
						case "cart":
							$scope.showHero = false;
							$scope.showShowcase = false;
							$scope.showDetails = false;
							$scope.showCheckout = false;
							$scope.showAbout = false;
							$scope.showCart = true;
							break;
							
						case "details":
							$scope.currentItem = parameter;
							$scope.showHero = false;
							$scope.showShowcase = false;
							$scope.showCart = false;
							$scope.showCheckout = false;
							$scope.showAbout = false;
							$scope.showDetails = true;
							break;
							
						case "about":
							$scope.showHero = false;
							$scope.showShowcase = false;
							$scope.showCart = false;
							$scope.showDetails = false;
							$scope.showCheckout = false;
							$scope.showAbout = true;
							break;
							
						case "checkout":
							$scope.showHero = false;
							$scope.showShowcase = false;
							$scope.showCart = false;
							$scope.showDetails = false;
							$scope.showAbout = false;
							$scope.showCheckout = true;
							break;
					}
				};
			});
		</script>


		<!-- Mixed Javascript -->
		<script>
		function toggleCartItemDetails(cartItem) {
			$(cartItem).find('.cart-item-details').first().toggleClass('hidden');
			$(cartItem).find('.badge').first().toggleClass('hidden');
			$(cartItem).find('.glyphicon').first().toggleClass('glyphicon-menu-down').toggleClass('glyphicon-menu-up');
		}
		</script>


		<!-- OpenLayers Map -->
		<script>
			var epsg4326 = new OpenLayers.Projection("EPSG:4326");
			var mercator = new OpenLayers.Projection("EPSG:900913");
			var latitude = 46.4983569;
			var longitude = 11.3506779;
			var zoom = 14;

			var map = new OpenLayers.Map("map");

			map.addLayer(new OpenLayers.Layer.OSM());

			map.setCenter(new OpenLayers.LonLat(longitude, latitude).transform(epsg4326, mercator), zoom); 

		    var markerLayer = new OpenLayers.Layer.Vector("Overlay");
		    
		    var marker = new OpenLayers.Feature.Vector(
		            new OpenLayers.Geometry.Point(longitude, latitude).transform(epsg4326, mercator),
		            {
		            	description:'Free University of Bozen - Bolzano'
		            },
		            {
		            	externalGraphic: 'https://cdn2.iconfinder.com/data/icons/snipicons/500/map-marker-128.png',
		            	graphicHeight: 35,
		            	graphicWidth: 35,
		            	graphicXOffset:-17,
		            	graphicYOffset:-17  
		            }
		        );
		 
		    markerLayer.addFeatures(marker);

		    map.addLayer(markerLayer);
		</script>
	</body>
</html>
