<!doctype html>
<html ng-app="eshop">
	<head>
		<meta charset="utf-8">
		<title>Hello World!</title>
		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" href="img/2ndhand-bg-32.png" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
		<style type="text/css">

			body {
				font-family: 'Maven Pro', sans-serif;
				color:#4b622b;
				min-width: 280px;
			}

			.link {
				cursor: pointer;
			}

			.main-header {
				position:fixed;
				z-index: 99;
				width: 100%;
				padding-top:0.8em;
			}

			.custom_button{

				background: rgba(133,175,75,1);
				border-color: white;

			}

			.main-header, .main-footer {
				color:white;
				font-size:1.5em;
				background: rgba(133,175,75,1);
			}

			.main-header a, .main-footer a {
				color:white;
				text-decoration: none;
			}

			.logo {
				position: absolute;
			}

			.logo img {
				width:64px;
				height:64px;
			}

			.u-bg-white {
				background:white;
			}

			.navbar-toggle .icon-bar {
				display: block;
				width: 28px;
				height: 3px;
				background-color: white;
				border-radius: 1px;
				margin: 0 auto;
			}

			.nav > li > a:focus, .nav > li > a:hover, .social:hover  {
				background:transparent;
				color:#4b622b;
			}

			#myNavbar {
				-webkit-box-shadow:none;
				box-shadow: none;
			}

			.navbar-nav {
				margin-right:0;
			}

			.social {
				margin:1rem;
			}

			.product {
				padding:1em;
			}

			.product-preview {
				width:100%;
				height:100%;
			}

			div.stretchy-wrapper {
		    	padding-bottom: 56.25%;
		    	position:relative;
		    	top:6.5em;
			}

			div.stretchy-wrapper > div {
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
			}

			.hero {
				background-image: url('img/hero2.jpg');
				background-size: 100%;
				background-repeat: no-repeat;
			}

			main {
				position:relative;
				top:6.5em;
				padding-bottom:3em;
				padding-top:1em;
			}

			footer.main-footer {
				position:relative;
				top:91px;
			}

			.map-container {
				padding: 3em 1em;
			}

			#map {
				width: 100%;
				height:300px;
				max-width:100%;
			}

			.product img {
			    -webkit-transition: all .3s ease; /* Safari and Chrome */
			  	-moz-transition: all .3s ease; /* Firefox */
			  	-o-transition: all .3s ease; /* IE 9 */
			  	-ms-transition: all .3s ease; /* Opera */
			  	transition: all .3s ease;
				-webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
				-moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
				filter: brightness(1.10) grayscale(100%); 

			}

			.product img:hover {
			    -webkit-backface-visibility: hidden;
			    backface-visibility: hidden;
			    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
			    -moz-transform:scale(1.10); /* Firefox */
			    -ms-transform:scale(1.10); /* IE 9 */
			    -o-transform:translatZ(0) scale(1.10); /* Opera */
			    transform:translatZ(0) scale(1.10);
				-webkit-filter: brightness(1.10) grayscale(0%) contrast(90%);
				-moz-filter: brightness(1.10) grayscale(0%) contrast(90%);
				filter: brightness(1.10) grayscale(0%); 
			}

			.animate-show-hide.ng-hide {
				opacity:0;
			}

			.animate-show-hide.ng-hide-add,
			.animate-show-hide.ng-hide-remove {
				transition: all linear 0.5s;
			}
		</style>
	</head>
	<body ng-controller="secondhand">

		<header class="main-header">
			<nav class="navbar container">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar u-bg-white"></span>
			        <span class="icon-bar u-bg-white"></span>
			        <span class="icon-bar u-bg-white"></span>                        
			      </button>
			      <a ng-click="showSubpage('hero')" class="logo link">
					<img src="img/2ndhand-64.png">
					<span class="hidden-xs"> 2<sup>nd</sup> hand</span>
			      </a>
			    </div>
			    <div class="collapse navbar-collapse text-right" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a ng-click="showSubpage('showcase')" class="link">Shop <span class="glyphicon glyphicon-home"></span></a></li>
			        <li><a ng-click="showSubpage('cart')" class="link">Cart <span class="fa fa-shopping-bag"></span></a></li>
			        <li><a ng-click="showSubpage('about')" class="link"></span>About <span class="glyphicon glyphicon-info-sign"></a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</header>

		<div class="stretchy-wrapper" ng-show="hero" class="animate-show-hide">
			<div class="hero"></div>
		</div>

		<main id="main-home" ng-show="showcase" class="animate-show-hide">
			<div class="container">
				<div class="showcase row">
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/1">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/2">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/3">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/4">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/5">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/6">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/7">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/8">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/9">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/10">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/1">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/2">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/3">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/4">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/5">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/6">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/7">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/8">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/9">
						</a>
					</section>
					<section class="product col col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<a ng-click="showSubpage('details')" class="link">
							<img class="product-preview" src="http://lorempixel.com/300/300/abstract/10">
						</a>
					</section>
				</div>
			</div>
		</main>

		<!-- Product details-->


		<main id="main-details" ng-show="details" class="animate-show-hide">
			<div class="container">
			<div class="row">
				<h2>Product details</h2>
				 
				 <div class="col-md-6">

				     <img style="max-width:100%;" src="http://lorempixel.com/300/300/abstract/9" />

    				</div>

                    <div class="col-md-6">
					<p>
						Lorem ipsum dolor sit amet, qui te inani blandit invenire, nemore commodo moderatius eam et. Per in possit tibique indoctum. Sea et ubique cotidieque, ei nam prompta assentior, ne detraxit posidonium mea. Nam ex delectus perpetua, sit fugit pertinacia adversarium an, qui graece veritus et.
					</p>	 

					<h2>Price: 2 CUC </h2>
					<h2>In Stock: 2 </h2>   

					  <button type="submit" class="btn btn-default btn-primary custom_button">Add to cart</button>

				</div>
                

                    </div>
			</div>
		</main>

		<!-- Beginning of payment section-->

		<main id="payment-details" ng-show="cart" class="animate-show-hide">

			<div class="container">
			 <h2>Shipping information</h2>
			  <form>
			    <div class="form-group col col-md-6">
			      	<label for="name">Name:</label>
			      	<input type="text" class="form-control" id="name" required>
			    </div>
			    <div class="form-group col col-md-6">
			      	<label for="surname">Surname:</label>
			      	<input type="text" class="form-control" id="surname" required>
			      	
			    </div>

			    <div class="form-group col col-md-6">
			      	<label for="tel">Address:</label>
					<input type="text" class="form-control" id="address" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="tel">City:</label>
					<input type="text" class="form-control" id="city" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="tel">State:</label>
					<input type="text" class="form-control" id="state" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="tel">Zip/ Postal Code:</label>
					<input type="number" class="form-control" id="zip" max="5" required>				    
				</div>

			    <div class="form-group col col-md-6">
			      	<label for="tel">Telephone:</label>
					<input type="number" class="form-control" id="phone" required>				    
				</div>

				<div class="form-group col col-md-6">
			      	<label for="e-mail">E-mail:</label>
					<input type="email" class="form-control" id="e-mail" required>				    
				</div>


 				<h2>Payment information</h2>
 				

				<div class="form-group col col-md-6">
			      	<label for="cctype">Credit card type:</label>
					 <select required id="creditcardType" name="CreditCardType" class="form-control">
                                        <option value="5">Visa</option>
                                        <option value="6">MasterCard</option>
                                        <option value="7">American Express</option>
                                        <option value="8">Discover</option>
                     </select>

				</div>

				<div class="form-group">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			      	<label for="ccnumbr">Credit card number:</label>
					<input type="number" class="form-control" id="ccnumbr" required>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			      	<label for="ccnumbr">CVV:</label>
					<input type="text" class="form-control" id="ccnumbr">
				</div>
				</div>

				<div class="form-group">
				<div class="col-md-12">
					<label for="exp_date">Expiration date</label>
				</div>
			      	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			      
                                    <select required class="form-control" name="">
                                        <option value="">Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                </select>
                                </div>  
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <select required class="form-control" name="">
                                        <option value="">Year</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                </select>
                                </div>		   	    
                                
					</div>
				
				  <button type="submit" class="btn btn-default btn-primary custom_button">Submit</button>

  			</form>
				
			</div>
		</main>

		<!-- Beginning of about section-->

		<main id="about" ng-show="about" class="animate-show-hide">

			<div class="container">
				<h2>About</h2>
				<p>
					Lorem ipsum dolor sit amet, duo no oratio malorum, aeque volumus referrentur per in, ad vix commune patrioque abhorreant. Ne pri senserit concludaturque, ei sale mollis voluptatibus ius, ut prima sonet sed. His nobis feugiat ei, mel clita mentitum ex, an partem placerat repudiandae duo. Eos an prompta lucilius, et pro albucius argumentum delicatissimi.
				</p>
			</div>
		</main>

		<!-- Beginning of footer section-->

		<footer class="main-footer">
			<div class="text-center">
				<div><small>follow us</small></div>
				<a href="#"><span class="social fa fa-facebook-official"></span></a>
				<a href="#"><span class="social fa fa-twitter-square"></span></a>
				<a href="#"><span class="social fa fa-linkedin-square"></span></a>
				<a href="#"><span class="social fa fa-pinterest-square"></span></a>
				<a href="#"><span class="social fa fa-telegram"></span></a>
				<a href="#"><span class="social fa fa-youtube-square"></span></a>
			</div>

			<div class="container map-container">
				<div class="row">
					<div class="col col-sm-6">
						<div id="map"></div>
					</div>
					<div class="col col-sm-6">
						<address>
							Free University of Bozen - Bolzano<br>
							piazza Università 1,<br>
							Bolzano 39100<br>
							Italy<br>
						</address>
					</div>
				</div>
			</div>
		</footer>

		<script>
			var app = angular.module('eshop', ['ngAnimate']);
			app.controller('secondhand', function($scope) {
				$scope.hero = true;
				$scope.showcase = false;
				$scope.cart = false;
				$scope.details = false;
				$scope.about = false;

				$scope.showSubpage = function(pageName) {
					$(".navbar-collapse").collapse('hide');
					switch(pageName) {
						case "hero":
							$scope.showcase = false;
							$scope.cart = false;
							$scope.details = false;
							$scope.about = false;
							$scope.hero = true;
							break;
							
						case "showcase":
							$scope.hero = false;
							$scope.cart = false;
							$scope.details = false;
							$scope.about = false;
							$scope.showcase = true;
							break;
							
						case "cart":
							$scope.hero = false;
							$scope.showcase = false;
							$scope.details = false;
							$scope.about = false;
							$scope.cart = true;
							break;
							
						case "details":
							$scope.hero = false;
							$scope.showcase = false;
							$scope.cart = false;
							$scope.about = false;
							$scope.details = true;
							break;
							
						case "about":
							$scope.hero = false;
							$scope.showcase = false;
							$scope.cart = false;
							$scope.details = false;
							$scope.about = true;
							break;
					}
				};
			});
		</script>

		<script>
		var epsg4326 = new OpenLayers.Projection("EPSG:4326");
		var mercator = new OpenLayers.Projection("EPSG:900913");
		var latitude = 46.4983569;
		var longitude = 11.3506779;
		var zoom = 14;

		var map = new OpenLayers.Map("map");

		map.addLayer(new OpenLayers.Layer.OSM());

		map.setCenter(new OpenLayers.LonLat(longitude, latitude).transform(epsg4326, mercator), zoom); 

	    var markerLayer = new OpenLayers.Layer.Vector("Overlay");
	    
	    var marker = new OpenLayers.Feature.Vector(
	            new OpenLayers.Geometry.Point(longitude, latitude).transform(epsg4326, mercator),
	            {
	            	description:'Free University of Bozen - Bolzano'
	            },
	            {
	            	externalGraphic: 'https://cdn2.iconfinder.com/data/icons/snipicons/500/map-marker-128.png',
	            	graphicHeight: 35,
	            	graphicWidth: 35,
	            	// graphicXOffset:-12,
	            	// graphicYOffset:-25  
	            	graphicXOffset:-17,
	            	graphicYOffset:-17  
	            }
	        );
	 
	    markerLayer.addFeatures(marker);

	    map.addLayer(markerLayer);
		</script>
	</body>
</html>
